<div class="col-xs-12" xmlns="http://www.w3.org/1999/html">
    <form class="card" name="articleForm" id="articleForm" novalidate autocomplete="off" ng-submit="save()" ng-autodisable>
        <div class="card-header bgm-lightgreen" style="height: 60px;">
            <div style="width: 30%; float: left;"><h2><strong>Translate Article</strong></h2></div>
            <div class="row" style="float: right;">
                <div class="col-sm-12 text-center p-b-30">
                    <button class="btn btn-primary" type="submit">Save&nbsp;
                        <i class="zmdi zmdi-save"></i>
                    </button>
                    <a href ng-click="translate()" ng-autodisable class="btn btn-default">Translate&nbsp;
                        <i class="zmdi zmdi-translate"></i>
                    </a>
                    <a href back-button class="btn btn-default">Cancel&nbsp;
                        <i class="zmdi zmdi-close"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" readonly name="article_title" ng-model="article.title" required class="form-control fg-input">
                        </div>
                        <div ng-messages="articleForm.article_title.$error" ng-if="articleForm.$submitted">
                            <small class="color-red" ng-message="required">This is required.</small>
                        </div>
                        <label class="fg-label">Title</label>
                    </div>
                    <div class="form-group fg-float">
                        <div class="fg-line">
                                    <textarea msd-elastic="\n" readonly name="article_body" ng-model="article.body" required class="form-control fg-input">
                                    </textarea>
                        </div>
                        <div ng-messages="articleForm.article_body.$error" ng-if="articleForm.$submitted">
                            <small class="color-red" ng-message="required">This is required.</small>
                        </div>
                        <label class="fg-label">Body</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="text" name="article_translated_title" ng-model="article.translatedTitle" required class="form-control fg-input">
                        </div>
                        <div ng-messages="articleForm.article_translated_title.$error" ng-if="articleForm.$submitted">
                            <small class="color-red" ng-message="required">This is required.</small>
                        </div>
                        <label class="fg-label">Title</label>
                    </div>
                    <div class="form-group fg-float">
                        <div class="fg-line">
                                    <textarea msd-elastic="\n" name="article_translated_body" ng-model="article.translatedBody" required class="form-control fg-input">
                                    </textarea>
                        </div>
                        <div ng-messages="articleForm.article_translated_body.$error" ng-if="articleForm.$submitted">
                            <small class="color-red" ng-message="required">This is required.</small>
                        </div>
                        <label class="fg-label">Body</label>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


